{% extends 'BodySystems/index2.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
<div class="container">
    
    <form action="/signin" method="POST">
       {% csrf_token %}
      {{ form | crispy }} 
      <label for="username"> Username </label>
    <input type="text" name="username" placeholder="username">
    <br> <br> <br> 
    <label for="password"> Password </label>
    <input type="password" name="password" placeholder="password">
    <br> <br> <br> 
    <input type="submit" value="login">
    <br> <br> 
       
       <a href="{% url 'sign up to library' %}">SignUp</a>
    </form>
 
   </div>
   {% for message in messages %}
   <p id="messages"> {{ message }} </p>
   {% endfor %}

{% endblock %}