{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'BodySystems/css/style_systems.css' %}">
    <script src="{% static 'BodySystems/javascript.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Respiratory System</title>
</head>
<body class="dig">
    <div class="topnav">
      

        <a href="{% url 'home' %}" target="_blank">Home</a>
        <a href="{% url 'about' %}" target="_blank">About</a>
        <a href="{% url 'latest_news' %}" target="_blank">Latest News</a>
        <a href="{% url 'list_all_department' %}" target="_blank">Comments</a> 

        <div class="dropdown">
          <button class="dropbtn" class = "actived">Body Systems
            <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-content">
              <a href="{% url 'digestive' %}" >Digestive system</a>
              <a href="#" target="blank">Respiratory System</a>
              <a href="{% url 'nervous' %}" target="_blank">Nervous System</a>   
                
          </div>
        </div>
        <div id="search"><input type="text" placeholder="Search..." id="search"> <button id = "SRCH"type="submit"><i class="fa fa-search"></i></button> </div>
    
      
        <div id="logo"><img src="{% static 'BodySystems/images/logo.jpg' %}" width="60px" height="50px"></div>
    </div>



    


    <script>
        function openNav() {
  document.getElementById("mySidenav").style.width = "220px";}
        

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";}
  

  </script>






  <div class="adrr2">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#Mouth-and-Nose">Mouth and Nose</a>
      <a href="#Sinus">Sinus</a>
      <a href="#Adenoids">Adenoids</a>
      <a href="#Tonsils">Tonsils</a>
      <a href="#pharynx">pharynx</a>
      <a href="#Epiglottitis">Epiglottitis</a>
      <a href="#larynx">larynx</a>
      <a href="#Asthma">Asthma</a>
      <a href="#lungs">lungs</a>
      <a href="#The-pleural-membrane">The pleural membrane</a>
      <a href="#Diaphragm">Diaphragm</a>
      <a href="#Alveoli">Alveoli</a> 
      <a href="#disorder">Common Disorders</a>
    </div>
    <span style="font-size:30px;cursor:pointer;color: white;" onclick="openNav()">&#9776; Choose</span>
    <div class="addr_vid"> 
      <video width="500px" height="250px" autoplay muted loop><source src = "{% static 'BodySystems/images/REvidio.mp4' %}" type="video/webm"></video>
    </div> 
  </div>
  <br> <br> 





<!--ORGANS-->

  <table cellspacing="70">
    <tr>
    <td>
      <div class="flip-card" id="Mouth-and-Nose">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'BodySystems/images/nose.jpeg' %}" alt="mouth and nose" style="width:200px;height:200px;">
            <br> <br>
            <span id="mouth" style="padding-left: 7%;">Mouth and Nose</span>
          </div>
          <div class="flip-card-back">
            <p style="font-size: large;">
              The nose is the best channel for air to enter from outside the respiratory system, 
              as the hairs lining the inner wall of the nose cleanse the air as it enters it,<br>
              while the air enters through the mouth in cases where the nasal passages are closed.
              <br>
            </p>
          </div>
        </div>
      </div>
    
      </td>

      



    <td>
      <div class="flip-card" id="Sinus" >
        <div class="flip-card-inner">
          <div class="flip-card-front">
                <img src="{% static 'BodySystems/images/sinus.jpeg' %}" alt="Sinus" style="width:200px;height:200px;">
                <br> <br>
                <span id="mouth" style="padding-left: 5%;">Sinus</span> <br>
          </div>
          <div class="flip-card-back">
                <p style="font-size: larger;">
                    <br>
                    They are hollow spaces in the bones of the head that regulate the temperature and 
                    humidity of the air you breathe,<br>
                    in addition to adding tone to the voice and lightening the structure of the bones of the head. 
                </p>
          </div>
        </div>
      </div>
    
    </td>


    <td>
      <div class="flip-card" id="Adenoids">
        <div class="flip-card-inner">
          <div class="flip-card-front">
                <img src="{% static 'BodySystems/images/adenoids.jpeg' %}" alt="Adenoids" style="width:200px;height:200px;">
                <br> <br>
                <span id="mouth" style="padding-left: 5%;">Adenoids</span> <br>
          </div>
          <div class="flip-card-back">
                <p style="font-size: larger;">
                  <br> <br>
                  The adenoids are enlarged lymphoid tissues at the top of the throat
                  that may be removed when they interfere with breathing.
                  <br> 
                </p>
          </div>
        </div>
      </div>
  
    </td>

      </tr>

  <!--END OF FIRST ROW-->

  <tr>
    <td>
  <div class="flip-card" id="Tonsils">
    <div class="flip-card-inner">
      <div class="flip-card-front">
            <img src="{% static 'BodySystems/images/tonsils.jpeg' %}" alt="Tonsils" style="width:200px;height:200px;">
            <br> <br>
            <span id="mouth" style="padding-left: 5%;">Tonsils</span> <br>
      </div>
      <div class="flip-card-back">
            <p style="font-size: larger;">
              <br>
              They are the lymph nodes that are found in the wall of the pharynx, 
              and the tonsils are not an important part of the germ-fighting system, 
              as they can be dispensed with.
                <br>
            </p>
        </div>
    </div>
  </div>
  </td>


<td>
  <div class="flip-card" id="pharynx">
    <div class="flip-card-inner">
      <div class="flip-card-front">
            <img src="{% static 'BodySystems/images/pharynx.jpeg' %}" alt="pharynx" style="width:200px;height:200px;">
            <br> <br>
            <span class = "sp5" style="padding-left: 5%;">Pharynx</span> <br>
      </div>
      <div class="flip-card-back">
            <p style="font-size: larger;">
              Known as the throat, it is a passage that extends from the base of the skull to 
              the level of the sixth vertebra of the spine.   
              The pharynx is divided into three regions according to location, as follows:<br>
              nasopharynx.<br>
              Oropharynx.<br>
              laryngeal pharynx
                <br>
            </p>
        </div>
      </div>
  </div>
</td>


<td>
  <div class="flip-card" id="Epiglottitis">
    <div class="flip-card-inner">
      <div class="flip-card-front">
            <img src="{% static 'BodySystems/images/epiglottitis.jpeg' %}" alt="epiglottitis" style="width:200px;height:200px;">
            <br> <br>
            <span id="mouth" style="padding-left: 5%;">Epiglottitis</span> <br>
      </div>
      <div class="flip-card-back">
            <p style="font-size: larger;">
                <br>  
                It is a strip of tissue that protects the entrance to the trachea, 
                which closes when anything that should enter the esophagus is swallowed.
                <br>
            </p>
        </div>
    </div>
  </div>
</td>

</tr>
<!--END OF SECOND ROW-->
<tr>
  <td>
<div class="flip-card" id="larynx">
  <div class="flip-card-inner">
    <div class="flip-card-front">
          <img src="{% static 'BodySystems/images/larynx.jpeg' %}" alt="larynx" style="width:200px;height:200px;">
          <br> <br>
          <span id="mouth" style="padding-left: 5%;">larynx</span> <br>
    </div>
    <div class="flip-card-back">
          <p style="font-size: larger;">
              <br>  
              The larynx is usually called the voice box or the glottis, 
              which is a passage of air between the pharynx and trachea, 
              and extends from the fourth to the sixth level of the vertebral column.
              <br>
          </p>
      </div>
  </div>
</div>
</td>


<td>
<div class="flip-card" id="Asthma">
  <div class="flip-card-inner">
    <div class="flip-card-front">
          <img src="{% static 'BodySystems/images/athema.jpeg' %}" alt="Asthma" style="width:200px;height:200px;">
          <br> <br>
          <span id="mouth" style="padding-left: 5%;">Asthma</span> <br>
    </div>
    <div class="flip-card-back">
          <p style="font-size: larger;">
            It is the passage leading from the pharynx to the lungs, 
            and the trachea is divided into two main parts, as each section extends to each lung, 
            and these tubes are divided into more bronchioles (bronchioles) at the end of which there are alveoli.
            The bronchial tubes are lined with cilia (cilia), which are tiny hairs that move like waves to carry mucus out,
            where it is swallowed or expelled by coughing.
              <br>
          </p>
      </div>
  </div>
</div>
</td>

<td>
<div class="flip-card" id="lungs">
  <div class="flip-card-inner">
    <div class="flip-card-front">
          <img src="{% static 'BodySystems/images/lungs.jpg' %}" alt="anus" style="width:200px;height:200px;">
          <br> <br>
          <span id="mouth" style="padding-left:5%;">Lungs</span> <br>
    </div>
    <div class="flip-card-back">
          <p style="font-size: larger;">
              <br>  
              Right and left lung
              The lungs are one of the most important components of the respiratory system.
              The right lung is divided into 3 lobes or sections, while the left lung is divided into two parts.
              <br>
          </p>
      </div>
  </div>
</div>
</td>
</tr>


<!--END OF THIRD ROW-->

<tr>
  <td>
<div class="flip-card" id="The-pleural-membrane">
  <div class="flip-card-inner">
    <div class="flip-card-front">
          <img src="{% static 'BodySystems/images/plurer.jpeg' %}" alt="pleural" style="width:200px;height:200px;">
          <br> <br>
          <span id="mouth" style="padding-left: 5%;">Pleural Membrane</span> <br>
    </div>
    <div class="flip-card-back">
          <p style="font-size: larger;">
              <br>  <br>
              The pleural membrane is the membrane that surrounds each lobe of the lung, 
              and separates the lungs from the chest wall
              <br>
          </p>
      </div>
  </div>
</div>
</td>


<td>
<div class="flip-card" id="Diaphragm">
  <div class="flip-card-inner">
    <div class="flip-card-front">
          <img src="{% static 'BodySystems/images/diagram.jpeg' %}" alt="Diaphragm" style="width:200px;height:200px;">
          <br> <br>
          <span id="mouth" style="padding-left: 5%;">Diaphragm</span> <br>
    </div>
    <div class="flip-card-back">
        <p style="font-size: larger;">
            The diaphragm is a strong wall of muscle that separates the chest cavity from the abdomen, 
            and as it moves down the diaphragm creates a suction force to draw air in and expand the lungs.
              <br>
        </p>
      </div>
  </div>
</div>
</td>

<td>
<div class="flip-card" id="Alveoli">
  <div class="flip-card-inner">
    <div class="flip-card-front">
          <img src="{% static 'BodySystems/images/alveoli.jpg' %}" alt="anus" style="width:200px;height:200px;">
          <br> <br>
          <span id="mouth" style="padding-left:5%;">Alveoli</span> <br>
    </div>
    <div class="flip-card-back">
          <p style="font-size: larger;">
              <br>  <br> 
              Alveoli They are small air sacs, and they are the destination of the air that a person breathe
              <br>
          </p>
      </div>
  </div>
</div>
</td>
</tr>
</table>


<br> <br> <br> <br>
<div id="disorder">
    <span style="text-decoration: underline; padding-left: 40%; font-weight: bolder; font-size:larger;"> 
      Common Respiratory System Disorders
    </span>
    <br>
    <p>
        <dl>
            <dt>Chronic Obstructive Pulmonary Disease (COPD)</dt>
            <dd>
              Chronic obstructive pulmonary disease (COPD) is an umbrella term used to describe two primary
              types of obstructive lung disease 
              that used to be classified separately: emphysema and chronic bronchitis
              Nearly 15 million people have been diagnosed with COPD in the United States, 
              and another 12 million are believed to have the disease but do not have an official diagnosis.
              COPD is the fourth leading cause of death in the United States. 
              About eight in 10 cases are linked to exposure to cigarette smoke
            </dd>
            <br> <br>


            <dt>Cystic Fibrosis</dt> 
            <dd>
              Cystic fibrosis (CF) is a genetic condition that affects about 35,000 people in the United States. 
              It can cause both breathing and digestive problems because the disease makes the mucus in the body very thick.
              While the disease can involve several organs, it tends to cause specific problems in the lungs, 
              such as blockages from thick mucus that trap harmful bacteria and lead to infections.3
              A diagnosis of CF is usually made early in life because newborns in the United States 
              are screened for the disease. If a diagnosis is not made at birth, 
              symptoms that occur in childhood can lead to the diagnosis later on
            </dd>
            <br> <br>


            <dt>Asthma</dt> 
            <dd>
              Asthma affects 25 million people in the United States. People with a family history of asthma, 
              respiratory allergies, or severe childhood respiratory illness are at a higher risk of developing asthma
              Asthma is a chronic inflammatory disease that causes breathing problems when the airways 
              become narrowed by inflammation or blocked by mucus. The condition’s severity varies from person to person, 
              but most people take daily preventive medication to control their symptoms and prevent flare-ups
            </dd>
            <br> <br>


            <dt>Lung Cancer</dt> 
            <dd>
              Lung cancer is one of the most common types of cancer, 
              ranking third in the United States with more than 218,000 people affected
              It can develop as either small cell lung cancer or non-small cell lung cancer, which is the more common of the two.
              Cigarette smoking—both direct and secondhand—is one of the biggest risk factors for lung cance
            </dd>
            <br> <br>


            <dt>Tuberculosis</dt> 
            <dd>
              Tuberculosis is a bacterial lung disease caused by Mycobacterium tuberculosis. 
              More than 1.8 billion people around the world have tuberculosis, 
              but the disease is only considered active in 10 million of them.
              People with strong immune systems sometimes carry an inactive form of the disease, called latent tuberculosis. 
              In people with weaker immune systems, the bacteria attacks lung tissue. 
              It can also spread and cause damage to other parts of the body
            </dd>
            <br> <br>


            <dt>Bronchitis</dt> 
            <dd>
              Bronchitis is a condition that develops when the windpipe (bronchial tube) gets irritated or inflamed. 
              In response to the inflammation, the lining of the bronchial tube may make too much mucus as
              it tries to coat the area. 
              The mucus can make it difficult to breath.
              Inflammation can also cause swelling of the airway. 
              This will cause it to narrow and makes it harder to breathe.
              Bronchitis can be acute or chronic. There are some key differences between the two forms:
              In acute bronchitis, the inflammation is usually caused by an infection that will get better
              in a few days to several weeks.
              With chronic bronchitis, the inflammation is caused by repeated exposure to irritants—like 
              cigarette smoke or pollution. Chronic bronchitis does not go away. 
              You may have periods of relief along with periods where it gets worse (exacerbations), 
              especially if you get a cold or another respiratory infection
            </dd>
            <br>
        </dl>
    </p>

</div>



</body>
</html>